html, body {
    margin: 0;
    padding: 0;
    font-family: inter, sans-serif;
}


/* ************************************ */
/* Digital Bussinesscard project styles */
/* ************************************ */

html, body {
    background-color: #23252cff;
    color: white;
}

.digital-card-container {
    margin: 200px auto;
    max-width: 300px;
    height: 600px;
    background-color: #1a1b21ff;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.digital-card-content {
    padding: 25px;
}

.bio-info {
    text-align: center;
}

.digital-card-footer {
    background-color: #161619ff;
}

.btn-container {
 display: flex;
 align-content: space-between;
}

.dc-btn {
 padding: 8px 30px;
 border: none;
 border-radius: 4px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dc-btn-light {
    background-color: #efefefff;
}

.dc-btn-blue {
    margin-left: auto;
    color: white;
    background-color: #5093e2ff;
}

/* ******************** */
/* Intro project styles */
/* ******************** */


/* html, body {
    margin: 0;
    padding: 0;
    font-family: inter, sans-serif;
    background-color: #282D35;
    color: white;
} */

.nav {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #21222A;
}

.nav-left {
    display: flex;
    align-items: center;
    color: #61DAFB;
    font-weight: bold;
    font-size: 1.1em;

}

.nav-left > img {
    /* height: auto; */
    width: 30px;
    margin-right: 5px;
}

.nav-right {
    font-size: 0.9em;
    color: #DEEBF8;
}

.nav-items > li {
    font-size: 20px;
    padding: 10px;
}

.main-content {
    padding: 20px;
    background-image: url(./assets/react-icon-large.png);
    background-repeat: no-repeat;
    background-position: right;
}

.custom-list {
    list-style: none;
}

.custom-list li::before {
    content: "\2022";
    color: #61DAFB;
    display: inline-block; /* Needed to add space between the bullet and the text */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
    width: 1em; /* Also needed for space (tweak if needed) */
    font-weight: bold; /* If you want it to be bold */
    font-size: 2em;
}

.custom-list li {
    line-height: 1.3;

}
